


html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background-image:url(./img/fondo.jpeg);
    background-attachment: fixed;
    background-size: cover;

}

p {
    margin-right: 2em;
    font-weight: bold;
    font-size: 0.9em;
    font-weight: 500;
}

button {
    background-color: white;
    border-radius: 30px;
    padding: 0px 1.5em;
    height: 2.5em;
    border: 2px solid black;
    font-size: 0.8em;
    width: 8em;
    text-align: center;
    margin-right: 1em;
}
#navbar{
    position: fixed;
    display: flex; 
    border-bottom: 1px solid gray; 
    /*padding: 14px 400px; */
    padding: 1% 17%;
    justify-content: space-between;
    width: 66%;
    background-color: white;
}

div#navbar-left img {
    width: 9em;

}
.redes{
    display: flex;
    height: 1em;
    margin-right: 1em;
    
}

#section1{
    
    height: 30em;
    display: flex;
    align-items: center;
    justify-content: center;   
    background-color: white; 
    
}

#section1 h2{
    font-size: 185%;
}
#button1{
    display: flex;
    justify-content: center;
    
}
#section1 button {
    
    padding: 2px;
    margin: 0% 2%;
}

button#lila{
    border: 2px solid rgb(135, 116, 240);
    color: rgb(135, 116, 240);
}

#somos{
    text-align: center;
}

#seccion2{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    height: 23em;
    width: 100%;
    align-items: center;
    
}

#enblanco{
    height: 25em;
}
.titulo{
    display: flex;
    padding: 1% 17%;
    margin: 0;
    border: 5% 0% 0% 0%;
    border-color: white;
    background-color: white;

}
.seccion3{
    display: flex;
    padding: 1% 17%;
    align-items: center;
    background-color: white;
    width: 66%;


}

.img1{
    width: 45%;
    padding: 2.5%;
}
#img2{
    width: 35%;
}
.texto{
    padding: 3%;
  
}
.equipo{
    /*display: flex;*/
    /*justify-content: center;
    text-align: center;*/
    display: grid;
    place-items: center;
    margin: auto;
    border-radius:20px;
    
    
}

.contenedor{
    display: flex;
    width: 66%;
}
/*
@media (width >= 2500px) {
    html {
        font-size: 28px;
    }
}

@media (width >= 3500px) {
    html {
        font-size: 32px;
    }
}
*/
